<h1 class='label-default'>StrollJS Rails Example</h1>

<div class='span12'>
	
	<div class='span3'>
		<h4 class='pad label-info'>Grow</h3><%= stroll("ashish1", "grow", 1..150) %>
		<h4 class='pad label-info'>Cards</h3><%= stroll("ashish2", "cards", 1..150) %>
		<h4 class='pad label-info'>Curl</h3><%= stroll("ashish3", "curl", 1..150) %>
		<h4 class='pad label-info'>Wave</h3><%= stroll("ashish4", "wave", 1..150) %>
	</div>

	<div class='span3'>
		<h4 class='pad label-info'>Flip</h3><%= stroll("ashish5", "flip", 1..150) %>
		<h4 class='pad label-info'>Fly</h3><%= stroll("ashish6", "fly", 1..150) %>
		<h4 class='pad label-info'>Fly Simplified</h3><%= stroll("ashish7", "fly-simplified", 1..150) %>
		<h4 class='pad label-info'>Fly Reverse</h3><%= stroll("ashish8", "fly-reverse", 1..150) %>
	</div>

	<div class='span3'>
		<h4 class='pad label-info'>Helix</h3><%= stroll("ashish9", "helix", 1..150) %>
		<h4 class='pad label-info'>Fan</h3><%= stroll("ashish10", "fan", 1..150) %>
		<h4 class='pad label-info'>Papercut</h3><%= stroll("ashish11", "papercut", 1..150) %>
		<h4 class='pad label-info'>Twirl</h3><%= stroll("ashish12", "twirl", 1..150) %>
	</div>

</div>

<style type="text/css">
.pad {
	padding: 10% 0 10% 40%;
}
</style>